apiVersion: broker.amq.io/v1beta1
kind: ActiveMQArtemis
metadata:
  name: {{ dc_a_artemis_namespace }}
  application: {{ dc_a_artemis_namespace  }}-app
spec:
  acceptors:
  - name: acceptor
    port: 61616
    protocols: AMQP,CORE,STOMP
  - name: mirror
    port: 5673
    protocols: AMQP
    expose: true
  addressSettings: {}
  adminPassword: amqintadmin
  adminUser: admin
  brokerProperties:
  - "AMQPConnections.target.uri=tcp://{{ dc_b_artemis_namespace  }}-mirror-0-svc.{{ dc_b_artemis_namespace }}.svc.cluster.local:5673?clientFailureCheckPeriod=2000&connectionTTL=5000"
  - "AMQPConnections.target.retryInterval=5000"
  - "AMQPConnections.target.reconnect-attempts=-1"
  - "AMQPConnections.target.user=admin"
  - "AMQPConnections.target.password=amqintadmin"
  - "AMQPConnections.target.autoStart=true"
  - "AMQPConnections.target.connectionElements.mirror.type=MIRROR"
  - "AMQPConnections.target.connectionElements.mirror.messageAcknowledgements=true"
  - "AMQPConnections.target.connectionElements.mirror.queueCreation=true"
  - "AMQPConnections.target.connectionElements.mirror.queueRemoval=true"
  console:
    expose: true
    sslEnabled: false
  deploymentPlan:
    clustered: true
    extraMounts: {}
    image: placeholder
    journalType: nio
    livenessProbe: {}
    managementRBACEnabled: true
    messageMigration: true
    enableMetricsPlugin: true
    persistenceEnabled: true
    podSecurity: {}
    readinessProbe: {}
    requireLogin: true
    resources:
      requests:
        cpu: 200m
        memory: 128Mi
    size: 1
    storage:
      size: {{ broker_disk_size }}
  upgrades:
    enabled: false
    minor: false
  env:
  - name: TZ
    value: America/Sao_Paulo
